body {
  margin: 0;
  -webkit-perspective: 300px;
  perspective: 300px;
  -webkit-transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
}
.row1 {
  display: flex;
  align-items: center;
}
.row1 .logo {
  text-align: center;
}
.row1 .menu {
}
.row1 img {
  width: 60%;
  max-width: 500px;
}
.row1 ul {
  display: flex;
}
.row1 ul:hover {
  color: #ededed;
}
.row1 li {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.row1 li:hover {
  color: black;
}
.row2 {
  display: flex;
  align-items: center;
  -webkit-transform: translateZ(-100px) scale(1);
  transform: translateZ(-100px) scale(1);
  z-index: 3;
}
.row2 img {
  width: 100%;
}
.row2 video {
  width: 100%;
  height: 100%;
}
.row2 .innercontent {
  width: 400px;
  margin-left: 20px;
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.innercontent .mainhead {
  color: white;
  font-weight: 100;
  margin: 0;
  font-size: 2rem;
  border-bottom: 1px solid gray;
}

.innercontent .shorthead {
  color: white;
  margin-top: 10px;
  font-size: 1.5rem;
}
.row3 {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  padding-top: 10px;
  justify-content: space-between;
}
.row3_col1 {
  width: 64%;
}
.row3_col1 img {
  width: 100%;
}
.row3_col2 {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.row3_col2_row1 {
}
.row3_col2_row1 img {
  width: 100%;
  height: 100%;
}
.row3_col2_row2 {
}
.row3_col2_row2 img {
  width: 100%;
}
.row3::after {
  content: "";
  clear: both;
  display: block;
}
.footerrow {
  display: flex;
  background-color: rgb(171, 217, 217);
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 50px;
  justify-content: space-between;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footerrow .fr_col1 {
  width: 33%;
  box-sizing: border-box;
}
.footerrow .fr_col1 p {
  color: gray;
}
.footerrow .fr_col2 {
  width: 24%;
  box-sizing: border-box;
}
.footerrow .fr_col3 {
  width: 24%;
  box-sizing: border-box;
}
.footerrow .fr_col4 {
  width: 24%;
  box-sizing: border-box;
}
.footerrow ul {
  padding: 0;
  margin: 0;
}
.footerrow li {
  list-style: none;
}
.nodecoration {
  color: inherit;
  text-decoration: none;
}

.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallax__group {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax::-webkit-scrollbar {
  display: none;
}

.parallax__layert {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4;
}

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3;
}

.listrow {
  background-color: white;
  padding-top: 40px;
  padding-bottom: 50px;
}
.bikelistrow {
  background-color: white;
  padding: 15px 2%;
  display: flex;
  justify-content: space-between;
}

.singlebike {
  display: flex;
  flex-direction: column;
}

.singlebike img {
  width: 90%;
  box-sizing: border-box;
}
.singlebike label {
  width: 90%;
}
.about_row{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px 10%;
    background-color: white;
    padding-top: 40px;
    height: 300px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.about_row_col1{
 width: 49%;
}
.about_row_col2{
    width: 49%;
} 
.about_row h2{
    color: #333;
    font-size: 1.2rem;
}
.about_row p,.about_row label{
    color: #888;
    font-size: .8rem;
}